.conteudoControleAcesso {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 0;
  width: 100%;
}

.contagem {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.cardContagem {
  flex: 1;
  height: 100%;
  background-color: #393939;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.labelContagem{
  font-family: "Inter";
  font-size: 15px;
}

.numeroContagem{
  font-family: "Inter";
  font-size: 43px;
  font-weight: 600;
}

.checkins {
  background-color: #393939;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;

}

.titlesLista {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  gap: 30px;
}

.titleLista {
  font-family: "Inter";
  font-size: 10px;
  width: 86px;
}

.ajuste {
  width: 150px;
  font-size: 10px;
  font-family: "Inter";
}

.titleCheckin {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
}

.listaCheckin {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  overflow-y: auto;
  width: 100%;
}

.checkins, .cardContagem{
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  border-top: 1.5px solid rgba(255, 255, 255, 0.22);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.28);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .contagem{
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}

@media screen and (max-width: 768px) {
  .contagem{
    display: flex;
    flex-direction: column;
  }

  .titlesLista, .listaCheckin{
    width: fit-content;
  }
}