.splash {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/img/bkSplash.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  z-index: 2;
  color: #fff;
}

.fadeOut {
  opacity: 0;
}

.imgBackgroundHome {
  width: 300px;
}

.titleBkHome {
  font-family: "Anton";
  font-size: 64px;
}

.txtBkHome {
  font-family: "Anton";
  font-size: 20px;
}