.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;   /* IMPORTANTE */
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.btn{
    height: 50px;
    width: fit-content;
    bottom: 5px;
    left: 5px   ;
    border: none;
    border-radius: 10px;
    position: absolute;
    background: #28a745;
    padding: 10px;
    cursor: pointer;
}

.btn:hover{
    transition: 0.3s;
    background: #2abd4c;
}

.btn:active{
    transition: 0.1s;
    transform: scale(0.98);
}