*{
  color: #fff;
}

.cards {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-top: 15px;
  min-height: 0;
}

.controleAcesso {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.conteudo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.barraPesquisa {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  border: none;
  outline: none;
  padding: 20px;
  font-family: "Inter";
  font-size: 13px;
  background-color: #393939;
}

.barraPesquisa{
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  border-top: 1.5px solid rgba(255, 255, 255, 0.22);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.28);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}