.container {
    flex: 1;
    background: #393939;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.titulo {
    color: #fff;
    width: 100%;
}

.legendaGrafico {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 8px;
}

.legendaGrafico li {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-family: "Inter";
}

.txtMeioGraficoCircular {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.graficoTurno {
    flex: 1;
    background: #393939;
    border-radius: 10px;
    padding: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.headerGraficoTurno {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.containerGraficoPlanos {
    background: #393939;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 350px;
    position: relative;
}

.txtGraficoVazio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}